<div class="fr-app">
  <div style="text-align:center">
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <h1 class="fr-title">Hello {{ user.displayName }}!</h1>
      <!--
      <ul>
        <li class="text" *ngFor="let item of items | async">
          {{item.name}}
        </li>
      </ul>
      -->
      <fr-upload-picture></fr-upload-picture>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <button mat-raised-button color="primary" (click)="login('google')">Login with Google</button>
      <button mat-raised-button color="primary" (click)="login('facebook')">Login with Facebook</button>
    </ng-template>
  </div>
</div>
