.fr-spinner {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.fr-results {
  margin-top: 25px;
  margin-bottom: 50px;
}

.fr-results--img {
  max-height: 150px;
}

.fr-upload {
  margin-bottom: 25px;
}
