<div class="fr-upload" *ngIf="!isLoading">
    <input type="file" hidden #imgFileInput (change)="fileEvent($event)">
    <button type="button" color="primary" mat-raised-button (click)="imgFileInput.click()"><mat-icon>backup</mat-icon> Upload image</button>
</div>
<div *ngIf="isLoading" class="fr-spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="fr-results" *ngIf="results$ | async as results">

  <img class="fr-results--img" [attr.src]="image" />

  <p *ngIf="results.hotdog">Is a hotdog!</p>
  <p *ngIf="!results.hotdog">Is not a hotdog :(</p>

  <mat-chip-list>
    <mat-chip color="primary" selected="true" *ngFor="let label of results.labels">{{label}}</mat-chip>
  </mat-chip-list>
</div>
